// TYPOGRAPHY
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

@media screen and(max-width: 320px) {
  .nav__menu {
    padding: 1rem 1.5rem;
  }
  .home__buttons {
    flex-direction: column;
  }
  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 567px) {
  .nav__menu {
    max-width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .work__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 6.5rem 0 1rem;
  }
  .section__title {
    margin-bottom: 3.5rem;
  }

  .home__social-link {
    padding: 0.75rem;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
}
