.home {
  &__container {
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
  }
  &__data {
    text-align: center;
  }
  &__greeting,
  &__education {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }
  &__greeting {
    color: var(--title-color);
    display: block;
    margin-bottom: 0.25rem;
  }
  &__education {
    color: var(--text-color);
    margin-bottom: 2.5rem;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  &__video {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
    color: black;
  }
  &__overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, var(--overlay-visibility));
  }
  &__social {
    position: fixed;
    bottom: 50vh;
    left: 1rem;
    display: grid;
    row-gap: 0.5rem;
    &-link {
      width: max-content;
      background-color: var(--container-color);
      color: $first-color;
      padding: 0.25rem;
      border-radius: 0.25rem;
      display: flex;
      font-size: 1rem;
      transition: 0.4s;
      &:hover {
        background-color: $first-color;
        color: #fff;
      }
    }
  }
}
