.home {
  &__container {
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
  }
  &__data {
    text-align: center;
  }
  &__greeting,
  &__education {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }
  &__greeting {
    display: block;
    color: var(--title-color);
    margin-bottom: 0.25rem;
  }
  &__education {
    color: var(--text-color);
    margin-bottom: 2.5rem;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  &__handle {
    margin: auto;
    width: #{"min(768px, 50vw)"};
    height: #{"min(200px, 50vw)"};
  }
  &__social {
    position: fixed;
    bottom: 50vh;
    left: 1rem;
    display: grid;
    row-gap: 0.5rem;
    &-link {
      width: max-content;
      background-color: var(--container-color);
      color: $first-color;
      padding: 0.25rem;
      border-radius: 0.25rem;
      display: flex;
      font-size: 1rem;
      transition: 0.4s;
      &:hover {
        background-color: $first-color;
        color: #fff;
      }
    }
  }
}
